@charset "UTF-8";
:root {
  --bs-body-bg: #111 !important; /* 修改背景色 */
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
}
.container ul li:hover a {
  background-color: #f08300;
}
.container ul li:hover .active {
  background-color: transparent;
}
.container .icon {
  width: 3em;
  height: 3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.container #logo {
  width: 4em;
}
.container .navbar-nav {
  margin: 0 auto;
}
.container .navbar-nav .nav-item {
  margin: 0 1em;
}
.container .navbar-nav .nav-link {
  color: #ccc;
}
.container .navbar-nav .nav-link.active {
  color: #f08300;
}
.container #carousel1 {
  position: relative;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
}
.container #carousel1 .carousel-indicators {
  bottom: 1em;
}
.container #carousel1 .carousel-indicators .custom-indicator {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
}
.container #carousel1 .carousel-indicators .custom-indicator.active {
  width: 12px;
  height: 12px;
}
.container #carousel1 .carousel-item {
  background: no-repeat center center scroll;
  background-size: cover;
}
.container #carousel1 .carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* 可根据需要调整按钮与轮播图之间的间距 */
}
.container #carousel1 .carousel-controls .carousel-control-prev,
.container #carousel1 .carousel-controls .carousel-control-next {
  width: 5%;
}
.container #carousel1 .carousel-controls .carousel-control-prev::before,
.container #carousel1 .carousel-controls .carousel-control-next::before {
  color: #f08300;
  font-size: 2rem;
}
.container #carousel1 .carousel-controls .carousel-control-prev {
  margin-left: -1.25rem;
}
.container #carousel1 .carousel-controls .carousel-control-next {
  margin-right: -1.25rem;
}
.container .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}
.container .breadcrumb li {
  border-bottom: 2px solid #f08300;
}
.container .breadcrumb li a {
  color: #ccc;
  font-size: 1.2rem;
}
.container .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: #fff;
}
.container .nav-tabs .nav-item .nav-link {
  color: #ccc;
  font-size: 0.8rem;
}
.container .nav-tabs .nav-item .nav-link.active {
  color: #f08300;
}
